// Custom btn
.button {
  border: none;
  outline: none;
  box-shadow: $shadow;
  height: 45px;
  width: 100%;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  transition: $transition;

  &.primary {
    background-color: $bg-orange;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.outline {
    background-color: $white;
    color: $tertiary;
    border: 1px solid $border;
    box-shadow: none;

    &:hover {
      color: $tertiary;
      border: 1px solid $border;
    }
  }

  &.status-btn {
    box-shadow: none;
    color: $black;
    height: 35px;
    min-width: 100px;
    font-size: 12px;

    &:hover {
      color: $black;
    }
  }

  &.lite-green {
    background-color: #d8f2e4;
  }

  &.lite-red {
    background-color: #ecd5d8;
  }

  &.lite-blue {
    background-color: #d9e5f1;
  }

  &.lite-orange {
    background-color: #f2edd9;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: $shadow;
  }

  &:hover {
    color: $white;
  }

  &:disabled {
    background-color: $border;
    color: $tertiary;
    box-shadow: none;
    cursor: not-allowed;

    &:hover {
      background-color: $border;
      color: $tertiary;
    }
  }
}
