//== Color Variables
$primary: #ff6900;
$secondary: #e99153;
$tertiary: #252525;
$bg-gray: #f1f1f1;
$bg-orange: #edb75d;
$gray: #444444;
$lite-gray: #f9f9f9;
$black: #000;
$white: #fff;
$border: #ceced0;
$shadow: 0px 3px 6px #00000029;
$radius: 5px;
$transition: all 0.5s ease-in-out;
//== Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//== Font Family
$roboto: 'Roboto', sans-serif;
